<div class="container container-fluid full-height">

    <br/>

    <div class="row m-1 center">

        <div class="col m-0 p-0">
            <h3>Custom Tiles</h3>
            <table id="tile-list" class="table table-striped center">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Link</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ct of this.getCustomTiles(); let i = index">
                        <td>{{ct.name}}</td>
                        <td>{{ct.description}}</td>
                        <td>{{ct.link}}</td>
                        <button class="btn btn-danger" (click)="deleteTile(ct.id, i)">Delete</button>
                    </tr>
                </tbody>
            </table>

            <br/>

            <div class="col m-0 p-0">
                <h3>Users</h3>
                <table id="account-list" class="table table-striped">
                    <thead>
                        <tr>
                            <td>Full Name</td>
                            <td>Email</td>
                            <td>Graduation Year</td>
                            <td>Mailing List?</td>
                            <td>Registration Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of this.getUsers()">
                            <td>
                                <a routerLink="/profile/{{u.id}}">{{u.full_name}}</a>
                            </td>
                            <td>{{u.email}}</td>
                            <td>{{u.grad_date}}</td>
                            <td>{{u.mass_mail_optin}}</td>
                            <td title="Registered on {{u.registration_date | date : 'medium'}}">{{u.registration_date | timeAgo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-4 m-0 p-0">
            <form (ngSubmit)="addTile(formData)" [formGroup]="formData">
                <h5>Create New Tile</h5>
                <div class="form-group">
                    <input class="form-control" placeholder="Name" formControlName="name">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Description" formControlName="description">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Link (full url)" formControlName="link">
                </div>
                <div class="row m-0 p-0">
                    <div class="col m-0 p-0">
                        <button class="btn btn-success">Add Tile</button>
                    </div>
                    <div class="col m-0 p-0">
                        <p class="text-right font-italic"> - opens link preview </p>
                    </div>
                </div>
            </form>

            <br/>

            <h5 class="mb-3">Create New Poll</h5>
            <button class="btn btn-md btn-success" (click)="open(content)">Add Poll</button>

            <div class="row">
                <h5 class="mb-3">Change a member's sign-in amount</h5>
                <button class="btn btn-lg btn-outline-success alterSignIn" (click)="open(alterSignInModal)">Change meeting sign-in count</button>
            </div>

        </div>

    </div>

</div>

<!-- Change meeting sign-in Modal Popup -->
<ng-template #alterSignInModal let-c="close" let-d="dismiss">
  <!--Empty Field Notification -->
  <div *ngIf="notifications.emptyField" class="alert alert-danger alert-dismissible" id="emailConflictAlert" role="alert">
    <button type="button" class="close" (click)="notifications.emptyField = false">
    <span aria-hidden="true">&times;</span></button>
    <span class="notification_panel"><strong>Error</strong> Cannot have empty field</span>
  </div>

  <!-- Header for modal -->
  <div class="modal-header">
    <h3 class="modal-title">Change meeting sign in count for a member</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    //<form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm)">
      //<div formArrayName="candidates" *ngFor="let cand of orderForm.controls.candidates.controls; let i = index;">
        //<div [formGroupName]="i">
          <h6 class="modal-title">Member name</h6>
          <input type="textarea" //formControlName="Member"
          placeholder="Person"/>
          <select> // formControlName="numbers">
            <option *ngFor="let count of getNums()" [value]="count">{{count}}</option>
          </select>
          <br><br>
        //</div>
      //</div>

      <button type="submit">Save</button>
    //</form>
  </div>
</ng-template>