<div id="about" class="container-fluid full-height">
    <div class="row mt-5">

        <div class="col">
            <div>
                <h2>SIT Ethics Agreement/Liability Waiver</h2>
                <p>By registering for this site, or using any resources provided directly or indirectly by UFSIT(UF Student Infosec Team), you therefore agree to forfeit any and all liability SIT may otherwise incur from your use of those resources AND agree to uphold UFSIT’s ethical code (described below).</p>
                <h2>SIT Code of Ethics</h2>
                <p>While we realize that students in this program are not Information Security Professionals, we do suggest that you read, understand, and agree to the (ISC)² Code of Ethics as it is a good model of the type of responsibility and behavior we expect from students participating. You must also agree to the following additional requirements:
				You must request permission in writing to engage in any penetration testing against on-campus resources from the appropriate authorities (UF ISM, department ISM, local admin, etc).
				You may never use the on-campus resources provided for SIT training to test off-campus resources.
				You agree to abide by the campus AUP (which you agree to every time you renew your Gatorlink account).
				You will not tolerate any illegal or explicitly forbidden activities in your presence during SIT activities and will report them to an appropriate authority.
				You understand that violating these terms may result in either administrative sanctions as decided by the Student Judicial services, or potential legal sanctions as well.</p>
            </div>
        </div>
    </div>
</div>
